body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header{
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 13;
}

img{
    object-fit: contain;
}

ul{
    flex-direction: column;
}
